
/* Reset */
.feeds ul, .feeds li {
	padding: 0; 
	margin: 0; 
	list-style: none!important;
	background: none;
}

/* Main styles */
/* Feeds */
.feeds {
    color: #444;
    list-style: none outside none;
    margin: 0;
	clear: both;
}
.feeds h1 {
    width: auto;
	position: relative;
}
.feeds h1, .feeds h2, .feeds h3 {
    line-height: 1.35em;
}
.feeds-content {
	position: relative;
	padding: 0;
}
.feeds-loading {
	/*background: url(images/globals/loading_light.gif) no-repeat 0 0;*/
	height: 24px;
	padding: 6px 0 0 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.feeds-toolbar .feeds-loading {
	right: 10px;
	left: auto;
}
.stream {
  margin: 0 auto!important;
}
.stream p {
	margin: 0;
	padding: 0;
}
.stream li a {
	color: #2DB6E8;
}
.stream li {
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    font-size: 11px;
    padding: 15px 0 35px 0;
    /*width: 237px !important;*/
    width: 220px !important;
	position: relative;
	margin: 0 15px 15px 0;
	font-family: Arial, sans-serif;
	line-height: 1.35em;
}
.stream li .inner {
	overflow: hidden;
	padding: 0 15px;
}
.stream li .icon {
	position: absolute;
	left: 3px;
	bottom: 0;
	z-index: 3;
}
.stream li .section-intro {
    padding: 7px 0;
	width: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	z-index: 2;
}
.stream li .clear {
	clear: both;
}

/* Content blocks */

.stream li .section-intro a {
	text-decoration: underline;
	color: #fff;
	margin-left: 32px;
}
.stream li .section-title {
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
}
.stream li .section-title a {
	color: #555;
}
.stream li .section-title a:hover {
	color: #2DB6E8;
}
.stream li .section-thumb {
	float: left;
	margin: 0 7px 0 0;
}
.stream li .section-thumb img, .stream li .section-text img {
	display: none;
}
.stream li .section-thumb img {
	border: 1px solid #ccc;
	padding: 1px;
	background: #fff;
}
.stream li .section-text {
	display: block;
	margin-bottom: 3px;
}

.stream li .section-user {
	clear: both;
	display: block;
	font-style: italic;
	margin: 0 8px 5px 0;
	display: block;
	float: left;
	padding: 7px 0 0 15px;
	line-height: 12px;
	background: url(images/profile.png) no-repeat 0 7px;
}
.stream li .meta {
	display: block;
	font-size: 90%;
	color: #999;
}
.stream li .meta span {
	margin: 0 8px 5px 0;
	display: block;
	float: left;
	padding: 0 0 0 15px;
	line-height: 12px;
}
.meta span.shares {
	background: url(images/shares.png) no-repeat 0 0;
	padding-left: 20px;
}
.meta span.views {
	background: url(images/views.png) no-repeat 0 0;
	padding-left: 18px;
}
.meta span.likes {
	background: url(images/likes.png) no-repeat 0 0;
	padding-left: 16px;
}
.meta span.comments {
	background: url(images/comments.png) no-repeat 0 0;
}
.meta span.users {
	background: url(images/users.png) no-repeat 0 0;
}
.meta span.videos {
	background: url(images/videos.png) no-repeat 0 0;
	padding-left: 16px;
}
.stream li .section-meta {
	display: block;
	margin: 0;
	padding: 0;
	clear: both;
}
.stream li .meta.item-comments {
	padding: 0 0 0 35px;
	margin: 0 0 5px 0;
	min-height: 30px;
	position: relative;
	clear: both;
	line-height: 1.3em;
}
.stream li .meta.item-comments img {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
}
.stream li .meta.item-likes {
	padding: 0;
	width: 100%;
	overflow: hidden;
	clear: both;
	line-height: 1.3em;
}
.stream li .meta.item-likes img {
	float: left;
	margin: 0 5px 5px 0;
	width: 30px;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
}
.stream li.feeds-error {
	color: #990000;
}
.stream li .section-share {
	display: block;
	margin: 0 0 5px 0;
	padding: 4px 0 0;
	float: right;
}
.stream li .section-share a {
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 2px 0 0;
	background: url(images/share.png) no-repeat 0 0;
}
.stream li .section-share a.share-twitter {
	background-position: 0 -16px;
}
.stream li .section-share a.share-reply {
	background-position: 0 -32px;
}
.stream li .section-share a.share-retweet {
	background-position: 0 -48px;
}
.stream li .section-share a.share-favorite {
	background-position: 0 -64px;
}
.stream li .section-share a.share-google {
	background-position: 0 -80px;
}
.stream li .section-share a.share-linkedin {
	background-position: 0 -96px;
}
.stream li .section-share a.share-facebook:hover {
	background-position: -16px 0;
}
.stream li .section-share a.share-twitter:hover {
	background-position: -16px -16px;
}
.stream li .section-share a.share-reply:hover {
	background-position: -16px -32px;
}
.stream li .section-share a.share-retweet:hover {
	background-position: -16px -48px;
}
.stream li .section-share a.share-favorite:hover {
	background-position: -16px -64px;
}
.stream li .section-share a.share-google:hover {
	background-position: -16px -80px;
}
.stream li .section-share a.share-linkedin:hover {
	background-position: -16px -96px;
}
.stream li.feeds-twitter .section-share .share-facebook, .stream li.feeds-twitter .section-share .share-google, .stream li.feeds-twitter .section-share .share-linkedin, .stream li.feeds-twitter .section-share .share-twitter {
	display:none;
}
/* Toolbar */
.feeds-toolbar {
	padding: 0;
	width: 100%;
	overflow: hidden;
	position: relative;
}
/* Filter */
#wall {
	padding-top: 15px;
}
#wall .feeds-toolbar {
	margin-bottom: 25px;
}
#feeds-filter.feed-center {
	float: left; 
	padding-left: 50%; 
	display: none;
	margin: 0;
}
.feeds-toolbar .filter {
	padding: 0;
	margin: 0 0 15px 0;
}
.feeds-toolbar .filter li {
	display: inline;
	background: none;
	padding: 0;
	margin: 0;
}
.feeds-toolbar .filter .link-all {
	color: #fff;
	height: 21px;
	padding: 7px 7px 4px 7px;
	text-shadow: 0 0 1px #555;
	font-weight: bold;
}
.feeds-toolbar .filter li a {
	padding: 4px 3px 0 3px;
	margin: 0 1px 1px 0;
	display: block;
	float: left;
	background: #777;
	height: 28px;
}
.feeds-toolbar .filter li img {
	margin: 0;
	height: 24px;
	width: 25px;
}
/* Controls */
.feeds .controls {
	position: absolute;
	right: 0;
	top: 7px;
	height: 22px;
	padding: 0;
	z-index: 12;
}
.feeds .controls li {
	display: inline;
	background: none;
}
.feeds .controls a {
	display: block;
	width: 22px;
	height: 22px;
	float: left;
	margin: 0 0 0 2px;
	background: url(images/controls.png) no-repeat 0 0;
}
.feeds .controls .prev {
	background-position: -44px 0;
}
.feeds .controls .next {
	background-position: -66px 0;
}
.feeds .controls .play {
	background-position: 0 0;
}
.feeds .controls .pause {
	background-position: -22px 0;
}
.feeds .controls .prev:hover {
	background-position: -44px -22px;
}
.feeds .controls .next:hover {
	background-position: -66px -22px;
}
.feeds .controls .play:hover {
	background-position: 0 -22px;
}
.feeds .controls .pause:hover {
	background-position: -22px -22px;
}

/* feeds network specific styles */
.stream li.feeds-rss .section-intro, .filter .f-rss a:hover, .filter .f-rss a.iso-active {
	background-color: #FF9800;
}
.stream li.feeds-flickr .section-intro, .filter .f-flickr a:hover, .filter .f-flickr a.iso-active {
	background-color: #f90784;
}
.stream li.feeds-delicious .section-intro, .filter .f-delicious a:hover, .filter .f-delicious a.iso-active {
	background-color: #3271CB;
}
.stream li.feeds-twitter .section-intro, .filter .f-twitter a:hover, .filter .f-twitter a.iso-active {
	background-color: #4ec2feed;
}
.stream li.feeds-facebook .section-intro, .filter .f-facebook a:hover, .filter .f-facebook a.iso-active {
	background-color: #3b5998;
}
.stream li.feeds-google .section-intro, .filter .f-google a:hover, .filter .f-google a.iso-active {
	background-color: #2d2d2d;
}
.stream li.feeds-youtube .section-intro, .filter .f-youtube a:hover, .filter .f-youtube a.iso-active {
	background-color: #DF1F1C;
}
.stream li.feeds-pinterest .section-intro, .filter .f-pinterest a:hover, .filter .f-pinterest a.iso-active {
	background-color: #CB2528;
}
.stream li.feeds-lastfm .section-intro, .filter .f-lastfm a:hover, .filter .f-lastfm a.iso-active {
	background-color: #C90E12;
}
.stream li.feeds-dribbble .section-intro, .filter .f-dribbble a:hover, .filter .f-dribbble a.iso-active {
	background-color: #F175A8;
}
.stream li.feeds-vimeo .section-intro, .filter .f-vimeo a:hover, .filter .f-vimeo a.iso-active {
	background-color: #4EBAFF;
}
.stream li.feeds-stumbleupon .section-intro, .filter .f-stumbleupon a:hover, .filter .f-stumbleupon a.iso-active {
	background-color: #EB4924;
}
.stream li.feeds-deviantart .section-intro, .filter .f-deviantart a:hover, .filter .f-deviantart a.iso-active {
	background-color: #EB4924;
}
.stream li.feeds-tumblr .section-intro, .filter .f-tumblr a:hover, .filter .f-tumblr a.iso-active {
	background-color: #365472;
}
.stream li.feeds-instagram .section-intro, .filter .f-instagram a:hover, .filter .f-instagram a.iso-active {
	background-color: #413A33;
}
.stream li.feeds-vine .section-intro, .filter .f-vine a:hover, .filter .f-vine a.iso-active {
	background-color: #00BF8F;
}

/* Facebook */
.stream li.feeds-facebook .section-thumb img {
	max-width: 192px;
	margin-bottom: 5px;
}

.stream li.feeds-facebook .section-thumb img, .stream li.feeds-facebook .section-text img {
	display: block;
}

.stream li.feeds-facebook .section-text img {
	margin: 5px 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 192px;
}
.stream li.feeds-facebook .section-text a {
	margin-right: 4px;
	color: #444;
}
.stream li.feeds-facebook .section-text-fb a {
	display:none;
}
.stream li.feeds-facebook .section-intro a {
	margin-left: 25px;
}
.stream li.feeds-facebook .meta {
	display: block;
	clear: both;
}
.stream li.feeds-facebook .meta.item-comments {
	padding: 0;
	min-height: auto;
}
.stream li.feeds-facebook .meta.item-comments a {
	display: block;
	margin: 0 0 2px 0;
}
.stream li.feeds-facebook .share-facebook {
	display: none;
}
/* twitter */
.stream li.feeds-twitter .section-thumb {
	margin-top: 3px;
}
.stream li.feeds-twitter .section-thumb img {
	width: 48px; 
	height: 48px;
	display: block;
}
.stream li.feeds-twitter .section-user {
	padding: 0;
	background: none;
}
.stream li.feeds-twitter .section-text img {
	margin: 5px 0 0;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 192px;
}
.stream li.feeds-twitter a {
	color: #38AEAE;
}
.stream li.feeds-twitter .section-intro a, .stream li.feeds-twitter .section-intro a:hover {
	color: #fff;
}
.stream li.feeds-twitter .section-intro span a {
	text-decoration: none;
	margin-left: 0;
}
.stream li.feeds-twitter .section-intro span a:hover {
	text-decoration: underline;
}
.stream li.feeds-twitter a:hover {
	color: #38AEAE;
	text-decoration: underline;
}
.stream li.feeds-twitter .twitter-user {
	margin-bottom: 2px;
	display: block;
}
.stream li.feeds-twitter .twitter-user a {
	color: #999;
	line-height: 1.35em;
}
.stream li.feeds-twitter .twitter-user a:hover {
	color: #999;
	text-decoration: none;
}
.stream li.feeds-twitter .twitter-user a strong{
	color: #444;
}
.stream li.feeds-twitter .twitter-user a:hover strong {
	color: #38AEAE;
	text-decoration: underline;
}
/* google */
.stream li.feeds-google .section-title {
	margin-bottom: 5px;
}
.feeds .stream li.feeds-google .section-thumb img {
	max-width: 192px;
}
.stream li.feeds-google .meta span.plusones {
	padding-left: 0;
}
/* rss */
.stream li.feeds-rss .section-thumb img {
	max-width: 192px;
}
.stream li.feeds-rss .section-text img {
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 192px;
}
/* stumbleupon */
.feeds .stream li.feeds-stumbleupon .section-title {
	display: block;
	clear: both;
}
.feeds .stream li.feeds-stumbleupon .section-thumb img {
	max-width: 192px;
}
/* youtube */
.stream li.feeds-youtube .section-thumb img {
	max-width: 192px;
}
/* vimeo */
.stream li.feeds-vimeo .section-thumb img {
	max-width: 192px;
}
.feeds .stream li.feeds-vimeo .section-title {
	display: block;
	clear: both;
}
.stream li.feeds-vimeo .section-text {
	margin-bottom: 5px;
}
.stream li.feeds-vimeo .section-text .meta {
	padding-top: 5px;
}
.stream li.feeds-vimeo .logo {
	margin-bottom: 3px;
}
/* Flickr */
.stream li.feeds-flickr .section-thumb {
	margin: 0;
}
.stream li.feeds-flickr .section-thumb img{
	max-width: 192px;
}
/* Pinterest */
.stream li.feeds-pinterest .section-thumb {
	display: block;
}
.stream li.feeds-pinterest .section-text {
	clear: both;
}
.stream li.feeds-pinterest .section-thumb img {
	width: 190px;
}
/* dribbble */
.stream li.feeds-dribbble .inner img {
	margin-bottom: 5px;
	max-width: 192px;
}
/* lastfm */
.stream li.feeds-lastfm .section-title {
	background: url(images/tracks.png) no-repeat 0 0;
	padding-left: 17px;
	margin-bottom: 0;
}
/* deviantart */
.stream li.feeds-deviantart .section-thumb {
	display: block;
	float: none;
}
.stream li.feeds-deviantart .section-thumb img {
	max-width: 192px;
}
/* tumblr */
.stream li.feeds-tumblr .section-text img {
	margin: 0 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 192px;
}
.stream li.feeds-tumblr .track {
	display: block;
	background: url(images/tracks.png) no-repeat 0 5px;
	padding: 5px 0 0 17px;
	margin-bottom: 0;
}
/* instagram */
.stream li.feeds-instagram {
	padding-bottom: 40px;
}
.stream li.feeds-instagram .section-title {
	font-weight: normal;
	clear: both;
}
.stream li.feeds-instagram .section-thumb img {
	margin: 0 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 192px;
}
.stream li.feeds-instagram .meta {
	clear: both;
}
.stream li.feeds-instagram .section-meta .meta .comments, .stream li.feeds-instagram .section-meta .meta .likes {
	margin: 0 0 5px 0;
	padding-top: 5px;
	background-position: 0px 5px;
	float: none;
	font-size: 100%;
	font-weight: bold;
}
/* vine */
.stream li.feeds-vine {
	padding-bottom: 40px;
}
.stream li.feeds-vine .section-title {
	font-weight: normal;
	clear: both;
}
.stream li.feeds-vine .section-thumb img {
	margin: 0 7px 5px 0;
	float: left;
	border: 1px solid #ddd;
	padding: 1px;
	background: #fff;
	max-width: 192px;
}
.stream li.feeds-vine .meta {
	clear: both;
}
.stream li.feeds-vine .section-meta .meta .comments, .stream li.feeds-vine .section-meta .meta .likes {
	margin: 0 0 5px 0;
	padding-top: 5px;
	background-position: 0px 5px;
	float: none;
	font-size: 100%;
	font-weight: bold;
}
/* Foursquare */
.stream li.feeds-foursquare .section-thumb img {
	max-width: 192px;
	margin-bottom: 5px;
	display: block;
}
/*isotope */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


.social-feed-separator {
  margin: 20px auto 0;
  clear: both;
  float: left;
}

.stream li .section-user a {
    color: #444;
}

.social-feed-separator .social-feed-image img {
  width: 100%;
}
.social-feeds {
  margin-top: 0px;
  width: 100%;
  float: left;
}
.social-feeds .social-filter {
  margin-top: 27px;
  width: 100%;
}
.social-feeds .social-filter .social-media {
  background-color: black;
  display: table;
  margin: 0 auto;
  padding: 12px 19px;
  border-radius: 4px;
  margin-bottom: 28px;
}
.social-feeds .social-filter .social-media .filter-text {
  float: left;
  text-transform: uppercase;
  color: white;
  font-family: Arial;
  font-size: 18px;
  margin-top: 3px;
}
.social-feeds .social-filter .social-media ul.social-filter-tab {
  float: left;
}
.section-title > a {
    display:block;
}
.social-feeds .social-filter .social-media ul.social-filter-tab li {
  padding-left: 16px;
  padding-right: 0;
  float: left;
}
    .social-feeds a {
        text-decoration:none;
    }
.social-feeds .social-filter .social-media ul.social-filter-tab:after {
  clear: both;
  content: "";
  display: block;
}
.social-feeds .social-filter .social-media:after {
  clear: both;
  content: "";
  display: block;
}
.social-feeds .social-filter .feeds-toolbar {
  margin: 0px auto 28px;
  width: auto;
  display: table;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center {
  text-align: center;
  float: none;
  margin: 0px auto !important;
  display: inline-block;
  padding: 0;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center li {
  display: inline-block;
  padding-left: 16px;
  vertical-align: middle;
  padding: 14px 8px;
  margin: 0;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center li a.iso-active {
  opacity: 1;
  font-style: italic;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center li a.filter-text {
  opacity: 1;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center li a {
  float: none;
  margin: 0px;
  padding: 0px;
  background: none;
  height: auto;
  opacity: 0.6;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center li a img {
  width: 30px;
  height: 29px;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center li a:first-child {
  text-transform: uppercase;
  color: white;
  font-family: Arial;
  font-size: 18px;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center li:nth-child(1) {
  border-radius: 5px 0 0 5px;
  padding: 16px 14px;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center li:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 14px;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center li.all-filter {
  padding: 16px 4px;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center li.all-filter a {
  color: #353535;
  font-family: Arial;
  font-size: 18px;
  text-transform: uppercase;
}
.social-feeds .social-filter .feeds-toolbar #feeds-filter.feed-center:after {
  clear: both;
  display: block;
  content: "";
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-facebook {
  background: white;
  padding: 8px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-facebook .inner {
  padding: 0px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-facebook .inner .section-title a:first-child {
  float: left;
  margin-right: 10px;
  margin-bottom: 6px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-facebook .inner .section-title:after {
  clear: both;
  content: "";
  display: block;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-facebook .inner .section-title .title {
  color: black;
  font-family: Arial;
  font-size: 20px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-facebook .inner .section-title .dateloc {
  font-size: 12px;
  color: #5a5a5a;
   font-family: Arial;
  font-weight: normal;
  line-height: 16px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-facebook .inner .section-picture a img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-facebook .inner .section-text {
  margin-top: 0px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-facebook .inner .section-text .content {
  font-size: 12px;
  color: black;
  font-family: Arial;
  line-height: 16px;
  font-weight: 400;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-facebook a {
  padding: 0px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-facebook a .icon {
  position: static;
}

.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-youtube .inner {
  padding: 0px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-youtube .inner .section-thumb {
  margin: 0px;
  float: none;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-youtube .inner .section-thumb img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-youtube .inner .section-title {
  /*font-size: 12px;
  color: #5a5a5a;
  font-family: Arial;
  font-weight: 500;
  line-height: 16px;
  padding: 9px;
  margin-bottom: 0px;*/
  padding: 5px 0;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-youtube a .icon {
  position: static;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-twitter {
  padding: 8px;
  margin: 0 15px 15px 0;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-twitter .inner {
  padding: 0px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-twitter .inner .section-thumb {
  margin-top: 0px;
  margin-right: 7px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-twitter .inner .section-thumb .thumb img {
  padding: 0px;
  height: 45px;
  width: 45px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-twitter .inner .section-text {
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 16px;
  font-family: Arial;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-twitter .inner .section-text .twitter-user {
  margin-bottom: 8px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-twitter .inner .section-text .twitter-user a {
  color: black;
  font-family: Arial;
  font-size: 16px;
  padding-top: 6px;
  font-weight: 400;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-twitter .inner .section-text .twitter-user a strong {
  font-size: 19px;
   font-family: Arial;
  font-weight: 500;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-twitter .inner .section-text .twitter-user:after {
  display: block;
  clear: both;
  content: "";
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-twitter .inner .section-text a {
  display: inline;
  color: black;
  font-size: 12px;
  line-height: 16px;
   font-family: Arial;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-twitter .icon {
  position: static;
  padding-top: 11px;
  padding-bottom: 8px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-instagram,
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-pinterest, .social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-flickr, .social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-youtube {
  padding: 8px;
  margin: 0 15px 15px 0;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-instagram .inner,
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-pinterest .inner, .social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-flickr .inner {
  padding: 0px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-instagram .inner .section-thumb,
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-pinterest .inner .section-thumb, .social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-flickr .inner .section-thumb {
  float: none;
  margin: 0px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-instagram .inner .section-thumb a img,
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-pinterest .inner .section-thumb a img,
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-flickr .inner .section-thumb a img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  border: 0;
  float: none;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-instagram .inner .section-text,
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-pinterest .inner .section-text {
  padding: 8px 0px;
  font-size: 12px;
  color: #5a5a5a;
 font-family: Arial;
  line-height: 16px;
}
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-instagram .icon,
.social-feeds .social-filter .feeds .feeds-content ul.stream li.feeds-pinterest .icon {
  position: static;
}