<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="FeedsDataSource" value="{AF7BCA0A-4C7F-4ACA-9956-E4801143775A}" />
      <setting name="FacebookFeedsParams" value="id,name,picture,message,story,link,place,full_picture,updated_time,from{name,id,picture,link}" />
      <setting name="FacebookAPIVersion" value="v2.8" />
    </settings>
  </sitecore>
</configuration>


